.DataSystem{
  padding: 80px;
  background-color: #5e9cff;
  @media (max-width:767px) {
    padding: 10px;
  }
  .Content{
      color: #fff;
      text-align: center;
      h1{
          font-size: 31px;
      }
      p{
        font-size: 20px;
        width: 100%;
        max-width: 525px;
        line-height: 25px;
        margin: auto;
      }
  }
  .ContentButton{
    text-align: center;
    margin-top: 50px;
    button{
      background-color: #ffa404;
      border: 0;
      border-radius: 10px;
      padding: 6px 22px;
  }
}
}