.GetIntouch {
    padding: 100px 0;
    text-align: center;
    background-color: #5e9cff;
    border-radius: 50px;

    @media (max-width:991px) {
        padding: 50px 0;
    }

    @media (max-width:767px) {
        padding: 20px;
    }

    .GetIntouchContent {
        color: #fff;

        h1 {
            font-weight: bold;
            color: #fff;
            font-size: 33px;
            margin: 0;
            padding: 0;
        }

        h4 {
            padding-top: 50px;
            width: 100%;
            max-width: 400px;
            text-align: start;
            margin: auto;
            font-size: 19px;
            height: 162px;
            @media (max-width:767px) {
                padding: 20px;
            }
        }
    }

    .ContentBtn {
        button {
            background-color: #ffa404;
            border-radius: 10px;
            border: 0;
            font-weight: bold;
            padding: 10px 30px;
            &:focus{
                background-color: #ffa404;
            }
        }
    }
}