.fileType {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;

  + label {
    // File upload button styles
  }

  &:focus + label,
  + label:hover {
    // File upload hover state button styles
  }

  &:focus + label {
    // File upload focus state button styles
  }
}

.disabledInput{
  background-color: lightgrey;
}